side {
  display: flex;
  padding: 40px 20px; 
  width: 15%; 
  height: 100%;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  margin-left: 10px;
}

side a {
  color: #007bff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
}
